<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Set proper base path for your project
    RewriteBase /web-project/public/

    # Handle requirment edit route
    RewriteRule ^requirement/(\d+)/edit$ requirement/edit.php?id=$1 [L,QSA,NC]
    RewriteRule ^requirement/add$ requirement/add.php [L,QSA,NC]

    # Auth routes
    RewriteRule ^auth/register$ auth/register.php [L,QSA,NC]
    RewriteRule ^auth/login$ auth/login.php [L,QSA,NC]
    RewriteRule ^auth/logout$ auth/logout.php [L,QSA,NC]
    
    # Redirect all other requests to index.php if file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>

# Disable directory listing
Options -Indexes