form h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--gray-1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--gray-1);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--gray-3);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--main-color);
    outline: none;
    box-shadow: 0 0 5px var(--main-color-opaque);
}

textarea {
    resize: vertical;
}

button {
    display: block;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

button.small {
    font-size: inherit;
    width: unset;
    margin: 0;
    font-weight: inherit;
}

button.orange {
    background-color: var(--orange);
}
button.orange:hover {
    background-color: var(--orange-secondary);
}

button:hover {
    background-color: var(--green-secondary);
}

.form-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--gray-2);
}

.form-footer a {
    color: var(--main-color);
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.actions {
    display: flex;
    gap: 20px;
}

.actions a {
    font-weight: bold;
    font-family: 'Dela Gothic One';
    text-decoration: none !important;
    border-bottom: 2px solid transparent
}
.actions a:hover {
    border-color: var(--orange);
}

button {
    transition: .3s;
}

button.delete {
    background-color: var(--orange);
}

button.delete:hover {
    background-color: var(--orange-secondary);
}

.secondaryContainer {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter select {
    width: 120px;
    height: 30px;
    font-size: 14px;
    padding: 2px 5px;
}


.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.filters {
    display: flex;
    gap: 14px;
    align-items: center;
}


.filter label {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.filter select {
    padding: 5px;
    font-size: 14px;
}

.controls {
    margin-left: auto;
}

#clearFilter {
    background-color: red;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#clearFilter:hover {
    background-color: darkred;
}

.search-hashtag-container {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: 70px;
    padding: 5px 10px;
}


#hashtagSearch {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    width: 300px;
}