body {

    --main-color: #007BFF;
    --main-color-secondary: #0056b3;
    --main-color-opaque: rgba(0, 123, 255, 0.3);

    --danger: #ff0000;
    --danger-secondary: #b70808;

    --white: #fff;

    --gray-1: #333;
    --gray-2: #666;
    --gray-3: #ddd;
    --gray-4: #ddd;
    --gray-5: #f4f4f4;
    --gray-6: #f9f9f9;
    --gray-7: #f1f1f1;
    --gray-8: #f4f4f9;

    --black: black;
    --black-opaque: rgba(0, 0, 0, 0.1);

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--gray-8);
}

main {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid var(--gray-3);
}

th {
    background-color: var(--gray-5);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--gray-6);
}

tr:hover {
    background-color: var(--gray-7);
    cursor: pointer;
}

.filters-container {
    display: flex;
    justify-content: space-between;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container:not(.secondary) {
    position: sticky;
    top: 130px;
    background: white;
    z-index: 1;
    margin: -10px -10px 10px;
    padding: 10px;
    border-bottom: 2px solid var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

/* a.button {
    background-color: var(--main-color);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
} */

a:not(.disabled):hover {
    text-decoration: underline;
}

a.disabled {
    color: var(--gray-2);
    cursor: not-allowed;
    opacity: .6;
}

.box {
    max-width: 800px;
    margin: 20px auto;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--black-opaque);
}